#version=DEVEL

#---------------------------------------------------
# Platform x86, AMD64, or Intel EM64T
#---------------------------------------------------
# System authorization information
auth --enableshadow --passalgo=sha512

# Install OS instead of upgrade
install

# Use network installation
# url --url=http://mirror.centos.org/centos/$releasever/os/$basearch/
# repo --name="CentOS" --baseurl=http://mirror.centos.org/centos/$releasever/os/$basearch/
# repo --name="Updates" --baseurl=http://mirror.centos.org/centos/$releasever/updates/$basearch/
cdrom

# Use text mode install
text

# Firewall configuration
firewall --enabled --service=ssh

# Setup agent configuration
firstboot --disable

# Disk access
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=link --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --plaintext vagrant

# SELinux configuration
selinux --enforcing

# System services
services --disabled="sendmail,ip6tables,avahi-daemon,avahi-dnsconfd,yum-updatesd" --enabled="NetworkManager,NetworkManager-dispatcher,ntpd,kdump,auditd,chronyd"

# Do not configure the X Window System
skipx

# System timezone
timezone America/New_York --isUtc --nontp

# Create anaconda user
user --name=none

# System bootloader configuration
bootloader --location=mbr --append="rhgb quiet crashkernel=auto" --driveorder="sda" --boot-drive=sda

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel

# Disk partitioning information
part / --size 4096 --fstype xfs

# Logging level
logging --level=debug

# Reboot after installation
reboot

#---------------------------------------------------
# Pre-Installation Script
#---------------------------------------------------
%pre --interpreter=/usr/bin/sh --logfile /mnt/sysimage/root/ks-pre.log

%end

#---------------------------------------------------
# Packages
#---------------------------------------------------
%packages --excludedocs
@core
bash-completion
bind-utils
bridge-utils
bsdtar
findutils
gettext
git
groff
httpd-tools
iptables-services
kexec-tools
net-tools
psacct
sos
tar
unzip
wget
yum-utils
%end

#---------------------------------------------------
# Add-on
#---------------------------------------------------
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

#---------------------------------------------------
# Post-Installation Script
#---------------------------------------------------
%post --logfile /root/ks-post.log
# Remove anaconda user
userdel -r none
%end
